<!--content-->
<article>
  <header>
    <div class="header-left">
      <h1>Rob Drew</h1>
      <p class="subtitle">Guitarist</p>
    </div>
    <div class="header-right">
      <figure>
        <img src="img/guitar1.png" alt="" />
      </figure>
    </div>
  </header>
  <section>
    <h2 id="about">About Me</h2>
    <p>
      This is a paragraph about Rob and all of his relavent stuff. Dolor sequi
      debitis animi magni aliquid magni voluptas? Distinctio ipsa numquam a sed
      deserunt? Voluptatibus sunt nemo excepturi reiciendis corporis? Sunt
      quidem impedit nulla exercitationem commodi. Culpa molestias nihil libero.
      Sit consequatur velit repellendus voluptate nemo natus Dolor asperiores
      cumque iste quis eaque Repudiandae praesentium deleniti deserunt soluta
      rerum dolore distinctio. Nesciunt odio ad eveniet error dolore? Numquam
      laborum hic?
    </p>
  </section>
  <section>
    <h2 id="projects">Current Projects</h2>
    <h3>The Silver Hand</h3>
    <p>
      This is a paragraph about Rob and all of his relavent stuff. Dolor sequi
      debitis animi magni aliquid magni voluptas? Distinctio ipsa numquam a sed
      deserunt? Voluptatibus sunt nemo excepturi reiciendis corporis? Sunt
      quidem impedit nulla exercitationem commodi. 
    </p>
     <h3>Curious Crow</h3>
    <p>
      This is a paragraph about Rob and all of his relavent stuff. Dolor sequi
      debitis animi magni aliquid magni voluptas? Distinctio ipsa numquam a sed
      deserunt? Voluptatibus sunt nemo excepturi reiciendis corporis? Sunt
      quidem impedit nulla exercitationem commodi. 
    </p> <h3>Solo Performance</h3>
    <p>
      This is a paragraph about Rob and all of his relavent stuff. Dolor sequi
      debitis animi magni aliquid magni voluptas? Distinctio ipsa numquam a sed
      deserunt? Voluptatibus sunt nemo excepturi reiciendis corporis? Sunt
      quidem impedit nulla exercitationem commodi. 
    </p>
  </section>
  <section>
    <h2 id="booking">Hiring & Booking</h2>
    <p>
      This is a paragraph about Rob and all of his relavent stuff. Dolor sequi
      debitis animi magni aliquid magni voluptas? Distinctio ipsa numquam a sed
      deserunt? Voluptatibus sunt nemo excepturi reiciendis corporis? Sunt
      quidem impedit nulla exercitationem commodi. Culpa molestias nihil libero.
      Sit consequatur velit repellendus voluptate nemo natus Dolor asperiores
    </p>
  </section>
  <section>
    <h2 id="teaching">Teaching</h2>
    <p><em> Not currently accepting new students </em></p>
  </section>

  <!--<figure>-->
    <!--<img src="img/guitar1.png" alt="" />-->
  <!--</figure>-->
  <figure>
    <img src="img/rob_beach.jpeg" alt="" />
  </figure>
  <figure>
    <img src="img/guitar2.png" alt="" />
  </figure>
</article>

<!--/content-->
